$primary-color: #10B897;
$secondary-color: #FF7F50;

$black: #303030; //darker grey
$grey-dark: #808080; //black 
$grey-light: #999999;
$white: #fff;

$body-color: $grey-dark;
$header-color: $grey-dark;
$border-color: $black;
$link-color: $grey-light; 
