$primary-color: #10B897;
$secondary-color: #FF7F50;

$black: #606060; 
$grey-dark: #808080;  
$grey-light: #999999;
$white: #fff;

$body-color: $black;
$header-color: $grey-dark;
$border-color: $primary-color;
$link-color: $grey-light; 
