@font-face {
    font-family: 'altGothic3';
    src: url('fonts/altgothicfont-webfont.eot');
    src: url('fonts/altgothicfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/altgothicfont-webfont.woff2') format('woff2'),
         url('fonts/altgothicfont-webfont.woff') format('woff'),
         url('fonts/altgothicfont-webfont.ttf') format('truetype'),
         url('fonts/altgothicfont-webfont.svg#alternategotno3dotregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

$title-font:'altGothic3', Helvetica, sans-serif; 
$body-font: Garamond, Georgia, "Times New Roman";
$code-font: 'Roboto Mono',Helvetica,sans-serif; 

$header-size-max: 50px;
$header-size-min: 20px;
$body-size: 20px;
$nav-size:12px;
