@import 'colors';
@import 'fonts';

//grobal styles----------------------------------------------------------------
body {
	background: $white; 
	font-family: $body-font;
     font-size: $body-size;
	color: $black;
	line-height: 30px;
	margin-bottom: 0px;
}

@mixin Header($size)  {  
     font-family: $title-font; 
     font-size: $size; color:$black; 
     font-weight:normal; 
     line-height: 1.1; 	
}


h1 {
     @include Header($header-size-max);
     }
h2 {    
     @include Header($header-size-min+($header-size-max - $header-size-min)*(4/5));
}
h3 {    
     @include Header($header-size-min+($header-size-max - $header-size-min)*(3/5));
}
h4 {    
     @include Header($header-size-min+($header-size-max - $header-size-min)*(2/5));
}
h5 {
     @include Header($header-size-min+($header-size-max - $header-size-min)*(1/5));
}
h6 {
     @include Header($header-size-min);
}

img{ 
     border:none;
}
img a{
     border:none;
}
blockquote{
     border-left:1px solid $black; 
     margin:0px; 
     padding:0 12px 0 12px;
}

p{
     line-height: 30px; 
     margin:30px auto; 
     text-indent: 0px;
}

a {
     color: $grey;
     text-decoration: none;}
a:link {
     color: $grey; 
     text-decoration: none;}
a:visited {
     color: $grey; 
     text-decoration: none;}
a:hover {
     color: $primary-color; 
     text-decoration: none;}

ul{
     padding: 0em 0em 0em 0em;
}
li { 
     line-height: 30px; 
     padding: 6px 0 0 0; 
     font-family: $title-font; 
}
ol{  
     padding: 0em 0em 0em 0em;
}


