@import "colors";
@import "fonts";

.main_menu {
     font-size: $nav-size;     
 
     li{  
          display: inline;
          text-transform: uppercase;
          font-family: $title-font;
     }
     li+li:before{
          content:" || ";
          color: $primary-color;
     } 
}
.header-title{
     color: $primary-color;
     .logo{
          text-transform: uppercase;
          font-family: $logo-font; 
     }
     .page-title{
          font-weight: bold;
          font-family: $title-font; 
     }
}





