@import 'colors';
@import 'fonts';
//section styles-------------------------------------------------------------------
#resume-nav {
     a:link {  
          display: inline; 
          color: $link-color; 
          text-decoration: none;
     }
     a:visited {
          color: $link-color; 
          text-decoration: none;
     }
     a:hover {
          color: $primary-color; 
          text-decoration: none;
     }
}

#content {
     min-width: 20em; 
     max-width: 30em; 
     overflow: hidden;
     margin-top:0px; 
     margin-left:64px; 
     margin-right:14px; 
     margin-bottom:0px; 
     max-width: none;
     p{
          blockquote {
               font-family: $quote-font;
               p {
                    font-family: $quote-font;
               }
          }     
     }	
     em { 
          color: $primary-color;}
     .post-title{}
     .entry-meta {
          p {
               margin: 0px auto;
          }
     } 

}

#footer {
     margin-left:64px;
     margin-right:14px;
     background:$white; 
     clear: both;
     .navlist p{
          padding:4px 0;
          margin: 0; 
          color:$primary-color; 
          font-size:18px; 
          font-family:$title-font; 
          letter-spacing:4px}
}
//wordpress entries-------------------------------------------------------------------------------
.entry { 
     strong{ 
     font-family: $title-font; 
     font-weight: bold; 
     color: $primary-color;
     }
}

#arc {    
     float: right; 
     width:530px; 
     overflow: hidden; 
     margin-top:0px; 
     margin-left:14px; 
     margin-right:14px; 
     margin-bottom:24px;
}	

@mixin arc-display($size,$weight){
     color:$white; 
     font-family:  $title-font;  
     font-size: $size; 
     font-weight: $weight;
}
.arc p{        @include arc-display($nav-size,normal !important); }
.year th{      @include arc-display(22px,bold); }
.arctitle {    @include arc-display($nav-size,normal); }
.arctitle th { @include arc-display($nav-size,normal); }
.arc2 {        @include arc-display($nav-size,normal !important);}
.arc2 th {     @include arc-display($nav-size,normal !important); }


