@import 'colors';
@import 'fonts';

//grobal styles----------------------------------------------------------------
body {
	background: $white; 
	font-family: $body-font;
     font-size: $body-size;
	color: $black;
	line-height: 30px;
	margin-bottom: 0px;
}

@mixin Header($size)  {  
     font-family: $title-font; 
     font-size: $size; color:$black; 
     font-weight:normal; 
     line-height: 1.1; 	
}


h1 {
     @include Header($header-size-max);
     }
h2 {    
     @include Header($header-size-min+($header-size-max - $header-size-min)*(4/5));
}
h3 {    
     @include Header($header-size-min+($header-size-max - $header-size-min)*(3/5));
}
h4 {    
     @include Header($header-size-min+($header-size-max - $header-size-min)*(2/5));
}
h5 {
     @include Header($header-size-min+($header-size-max - $header-size-min)*(1/5));
}
h6 {
     @include Header($header-size-min);
}

img{ 
     border:none;
}
img a{
     border:none;
}
blockquote{
     border-left:1px solid $black; 
     margin:0px; 
     padding:0 12px 0 12px;
}

p{
     line-height: 30px; 
     margin:30px auto; 
     text-indent: 0px;
}

a {
     color: $grey;
     text-decoration: none;}
a:link {
     color: $grey; 
     text-decoration: none;}
a:visited {
     color: $grey; 
     text-decoration: none;}
a:hover {
     color: $primary-color; 
     text-decoration: none;}

ul{
     padding: 0em 0em 0em 0em;
}
li { 
     line-height: 30px; 
     padding: 6px 0 0 0; 
     font-family: $title-font; 
}
ol{  
     padding: 0em 0em 0em 0em;
}


//section styles-------------------------------------------------------------------
#resume-nav {
     a:link {  
          display: inline; 
          color: $grey; 
          text-decoration: none;
     }
     a:visited {
          color: $grey; 
          text-decoration: none;
     }
     a:hover {
          color: $primary-color; 
          text-decoration: none;
     }
}

#content {
     min-width: 20em; 
     max-width: 30em; 
     overflow: hidden;
     margin-top:0px; 
     margin-left:64px; 
     margin-right:14px; 
     margin-bottom:0px; 
     max-width: none;
     p{
          font-family: $body-font; }	
     em { 
          color: $primary-color;}
}

#footer {
     margin-left:115px;
     background:$white; 
     clear: both;
     .navlist p{
          padding:4px 0;
          margin: 0; 
          color:$primary-color; 
          font-size:18px; 
          font-family:$title-font; 
          letter-spacing:4px}
}
//wordpress entries-------------------------------------------------------------------------------
.entry strong{ 
     font-family: $title-font; 
     font-weight: bold; 
     color: $primary-color;
}

#arc {    
     float: right; 
     width:530px; 
     overflow: hidden; 
     margin-top:0px; 
     margin-left:14px; 
     margin-right:14px; 
     margin-bottom:24px;
}	

@mixin arc-display($size,$weight){
     color:$white; 
     font-family:  $title-font;  
     font-size: $size; 
     font-weight: $weight;
}
.arc p{        @include arc-display($nav-size,normal !important); }
.year th{      @include arc-display(22px,bold); }
.arctitle {    @include arc-display($nav-size,normal); }
.arctitle th { @include arc-display($nav-size,normal); }
.arc2 {        @include arc-display($nav-size,normal !important);}
.arc2 th {     @include arc-display($nav-size,normal !important); }


